<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div>
      <%= flight.title %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit flight</button>
      </a>
    </div>
    <div>Airline </div>
    <div><%= flight.airline%></div>
    <div>Airport</div>
    <div><%= flight.airport%></div>
    <div>Flight No.</div>
    <div><%= flight.nowShowing ? 'Yes' : 'Nope' %></div>
    <div>Tickets</div>
    <ul>
      <% flight.tickets.forEach(ticket => { %>
        <li><%= ticket.seat %></li>
        <li><%= ticket.price %></li>
      <% }) %>
    </ul>
  </section>
  <form 
    id="add-per-to-cast"
    action="/flights/<%= flight._id %>/tickets"
    method="post"
  >
    <select name="ticketId">
      <% tickets.forEach(ticket => { %>
        <option value="<%= ticket._id %>"><%= ticket.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Ticket</button>
  </form>
  <h2>Tickets</h2>
  <form 
    action="/flights/<%= flight._id %>/tickets"
    id="add-ticket-form"
    method="post"
  >
    <label for="price-textarea">Price:</label>
    <textarea name="price" id="price-textarea"></textarea>
    <label for="price-select">Seat:</label>
    <textarea name="seat" id="seat-textarea">
    <button type="submit">Add Ticket</button>
</main>


<%- include('../partials/footer') %>